@media (max-width: 768px) {

    .art-heroe {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .flex {
        display: flex;
        flex-direction: column;
        align-content: center;
        margin: 0%;
    }

    .img-heroe-all {
        width: 300px;
        text-align: center;
    }

    .img-heroe {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        margin: 0%;
    }

    .title-heroe {
        font-size: xx-large;
        width: 100%;
    }
    
    .title-gift {
        margin-top: 50px;
        font-size: xx-large;
    }

    .description-heroe {
        width: 100%;
        margin: 0%;
    }

    .button-heroe {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0%;
    }

    p {
        text-align: justify
    }

    .ul-gift {
        list-style: none;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 2px;
        padding: 0%;
    }
    .ul-gift li img {
        width: 98%;
    }

    .section5{
        flex-direction: column !important;
        justify-content: center;
        text-align: center;
    }

    #Copyright {
        padding-top: 50px;
        align-self: center;
    }

    .form{
        text-align: center;
    }
}