:root {
  --primary_color: #fd0101;
  --second_color: #cc0a0a;
}

* {
  font-family:
    'Libre Baskerville', serif
}

body {
  margin: 0%;
  margin-top: 0%;
  background-color: #eef3f7;
}

.container {
  width: 100%;
}

.content-heroe-home {
  margin-bottom: 30px;
  margin-top: 30px;
}

.button-heroe {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  margin-bottom: 20px;
}

.flex {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
}

.header {
  width: 100%;
  height: 200px;
  margin: 0px;
 background-color: var(--primary_color);
  box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.main-title {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 0%;
  color: #ffff;
  justify-content: center;
}

/* stilos para todos los heroes */

.title-gift {
  font-size: 80px;
  margin-bottom: 70px;
  margin-top: 70px;
  background-color: var(--primary_color);
  color: #f1f1f1;
  padding: 10px;
}

#global {
  height: 100%;
  width: 100%;
  border: 1px solid #ddd;
  background: #f1f1f1;
  overflow-y: scroll;
}

#mensajes {
  height: auto;
}

.texto {
  padding: 4px;
  background: #fff;
}

.ul-gift {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.ul-gift li img{
  width: auto;
  height: 500px;
  background-color: #cc0a0a;
}

.ul-gift li p{
  background-color: var(--primary_color);
  text-align: center;
  color: #f1f1f1;
}

.img-heroe-all {
  width: 360px;
}

.img-heroe {
  margin-left: 10%;
}

.description-heroe {
  padding: 20px;
  margin-left: 10%;
  width: 100%;
}

.title-heroe {
  text-align: center;
  align-content: center;
  font-size: 90px;
  margin-bottom: 30px;
}

.art-heroe {
  width: 100%;
}

.cont-gen {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--second_color);
  color: #f1f1f1;
padding: 80px 0px;
}

.img-fond {
  width: 100%;
  height: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: 18px;
}

.img-secund {
  width: 90px;
  height: 90px;
  border-radius: 150px;
  display: block;
  margin-bottom: 18px;
}

.img-secund-page {
  display: flex;
  flex-direction: row;
}

.art {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 35%;
  height: auto;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 40px;
}

p {
  text-align: justify
}

h3 {
  text-align: center;
}

.cont-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 450px;
  left: 0px;
  top: 3427px;
  background-color: var(--primary_color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text-footer {
  text-align: center;
  color: white;
}

.slider {
  display: flex;
  flex-direction: row;
  background: #f1f1f1;
  overflow-y: scroll;
  overflow: hidden;
  background-color: var(--primary_color);
  margin-bottom: 50px;
}

.img-banners-marvel {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 310px;
  height: auto;
  margin: 30px;
  border-radius: 10px;
  justify-content: center;
}

.arrow {
  cursor: pointer;
  width: 25px;
  height: 25px;
  background-color: #f4f7f8;
  border-radius: 50%;
  padding: 10px;
  box-sizing: content-box;
}

.prev {
  position: absolute;
  z-index: 1;
  left: 25px;
  top: 50%;
  transform: translate(-50%, -50%);
}

.next {
  position: absolute;
  right: 25px;
  top: 45%;
  transform: translate(50%, 50%);
}